/*
 Theme Name:          UW Behavioral Research Center for HIV
 Theme URI:           https://bitbucket.org/uwdgh_elearn/uwbirch
 Bitbucket Theme URI: https://bitbucket.org/uwdgh_elearn/uwbirch
 Primary Branch:   		master
 Author:              UW Department of Global Health Web Team
 Author URI:          https://depts.washington.edu/dghweb/
 Description:         UW WordPress child-theme for the UW Behavioral Research Center for HIV
 Template:            uw_wp_theme
 Version:             3.3.1.5
 License:             GNU General Public License v3 or later
 License URI:         https://www.gnu.org/licenses/gpl-3.0.html
 Tags:                two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:         uwbirch
*/
/* globals */
h3, .h3 {
  margin-top: 0;
}

/* header */
@media (min-width: 768px) {
  header.site-header {
    height: 100px;
  }
}
header.site-header div.navbar .site-branding .uw-wordmark {
  background: url("img/BIRCH_logo-white-no-wordmark_wp-theme.png") no-repeat 0 0 transparent;
  background-size: contain;
  height: 45px;
  display: block;
  left: 0;
  transform: none;
}
@media (min-width: 600px) and (max-width: 767px)  {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("img/BIRCH_LOGO-horizontal-white_wp-theme.png") no-repeat 0 0 transparent;
    height: 45px;
    background-size: contain;
    width: 540px;
    left: 0;
    transform: none;
  }
}
@media (min-width: 768px) and (max-width: 991px)  {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("img/BIRCH_LOGO-horizontal-white_wp-theme.png") no-repeat 0 0 transparent;
    height: 90px;
    background-size: contain;
    left: 15px;
    width: 540px;
    top: 30px;
    transform: none;
  }
}
@media (min-width: 992px) and (max-width: 1599px)  {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("img/BIRCH_LOGO-centered-white_wp-theme.png") no-repeat 0 0 transparent;
    height: 90px;
    background-size: contain;
    left: 0px;
    top: 3px;
    transform: scale(0.98);
  }
}
/* @media (min-width: 1200px) and (max-width: 1599px)  {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("img/BIRCH_LOGO-horizontal-white_wp-theme.png") no-repeat 0 0 transparent;
    background-size: contain;
    height: 90px;
    transform: none;
    width: 640px;
    top: 20px;
    left: 0;
  }
} */
@media (min-width: 1600px) {
  header.site-header div.navbar .site-branding .uw-wordmark {
    background: url("img/BIRCH_LOGO-horizontal-white_wp-theme.png") no-repeat 0 0 transparent;
    background-size: contain;
    height: 90px;
    transform: none;
    width: 800px;
    top: 10px;
    left: 0;
  }
}

/* content */

/* styles for the people-loop.php template */
.su-posts-people-loop .card-person {
	box-shadow: 0px 5px 20px -10px #7a7a7a;
}
.su-posts-people-loop .card-person:focus,
.su-posts-people-loop .card-person:hover {
	box-shadow: 0px 5px 20px -5px #7a7a7a;
	scale: 101%;
	transition: ease 0.3s;
}
.su-posts-people-loop h5.card-title {
	margin-top: .75rem;
}
.su-posts-people-loop h5.card-title a:focus,
.su-posts-people-loop h5.card-title a:hover {
	color: #85754d;
}
.su-posts-people-loop .card-person__job-title {
	margin-left: 2rem;
	margin-right: 2rem;
}

/* footer */
footer.site-footer a.footer-wordmark,
footer.site-footer a.footer-wordmark:hover  {
  background: url("img/BIRCH_LOGO-centered-white_wp-theme.png") no-repeat 0 0 transparent;
  height: 145px;
  background-size: 335px;
  transform: scale(0.8);
}
@media (min-width: 600px) {
  footer.site-footer a.footer-wordmark,
  footer.site-footer a.footer-wordmark:hover  {
    background: url("img/BIRCH_LOGO-centered-white_wp-theme.png") no-repeat 0 0 transparent;
    height: 145px;
    background-size: 335px;
    transform: none;
  }
}
footer.site-footer ul.footer-social {
  padding-left: 0.5em;
}
footer.site-footer ul.footer-links {
  padding-left: 1em;
}
